body{
  background-color: #1e88e5;
}
.Narvab{
  background-color: #0d47a1;
  border: nones;
}
.botones{
  background-color: #69A9E0;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
}
.icontrello{
  margin-left: 10px;
}
.logo{
  width: 150px;
  height: 40px;
  margin-top: 5px;
  margin-left: 180px;
  background-color: transparent;
}
.user{
  background-color:#69A9E0;
  margin-top: 5px;
  margin-left: 480px;
}
.plus{
  background-color:#69A9E0;
  margin-top: 5px;
}

/*  SignIn vistas */
.logo2{
  width: 250px;
  height: 100px;
  margin-top: 120px;
  margin-left: 42%;
  background-color: transparent;
}

.texto{
  width: 400px;
  height: 55px;
}
.btn-sign-in{
  width: 200px;
  background-color: transparent;
  color: white;
  border-color: white;
  margin-left: -50px;
}
.formulario{
  margin-left: 35%;
  margin-top: 20px;
}
.new{
  color: white;
}
.new-vist{
  text-align: center;
}
.footer{
  color: white;
  text-align: center;
  margin-top: 120px;
}

/*  vista trello */

.cajaText{
  margin: 20px;
  background-color: #2869cc;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: inline-block
}
.cajaText:hover{
  background-color: #28317c;
}
.text{
  color: white; 
}

/*  vista cuadro */

.noteList{
  padding: 5px; 
  margin: 20px;
  width: 270px;
  height: 110px;
  border-radius: 4px;
  color: #777;
  background-color: #E2E4E6;
  display: inline-block;
}
.guardar{
  margin: 10px;
}
.elimina{
  margin: 10px;
}
.title{
  color: #151414;
  width: 250px;
  height: 35px;
  display: block;
  border-radius: 4px;
  border: 1px solid;
  border-color: #AAAAAA;
  background-color: #CCCDCF;
  padding: 5px 0px 10px 10px;
  margin: 5px;
}
/* tablas de trello */

.board{
    color:#555;
    font-weight: 800;
    padding: 10px;
    width: 300px;
    height:100px;
    background-color: #D6D4DC;
    border-radius: 5px;
    /* display: inline-flex; */
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.addboard{
    color:rgb(68, 65, 65);
    opacity: 0.30;
    font-weight: 800;
    padding: 10px;
    width: 300px;
    height:100px;
    background-color: #D6D4DC;
    border-radius: 5px;
    /* display: inline-flex; */
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
}