body{
  background-color: #1e88e5;
}
.Narvab{
  background-color: #0d47a1;
  border: nones;
}
.botones{
  background-color: #69A9E0;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 150px;
}
.icontrello{
  margin-left: 10px;
}
.logo{
  width: 150px;
  height: 40px;
  margin-top: 5px;
  margin-left: 180px;
  background-color: transparent;
}
.user{
  background-color:#69A9E0;
  margin-top: 5px;
  margin-left: 480px;
}
.plus{
  background-color:#69A9E0;
  margin-top: 5px;
}

/*  SignIn vistas */
.logo2{
  width: 250px;
  height: 100px;
  margin-top: 120px;
  margin-left: 42%;
  background-color: transparent;
}

.texto{
  width: 400px;
  height: 55px;
}
.btn-sign-in{
  width: 200px;
  background-color: transparent;
  color: white;
  border-color: white;
  margin-left: -50px;
}
.formulario{
  margin-left: 35%;
  margin-top: 20px;
}
.new{
  color: white;
}
.new-vist{
  text-align: center;
}
.footer{
  color: white;
  text-align: center;
  margin-top: 120px;
}
